<!-- Food Banner Section Start -->
<section class="food-banner-section section-padding fix section-bg pt-0">
    <div class="chili-shape">
        <img src="~/Users/assets/img/shape/chili-shape.png" alt="shape-img">
    </div>
    <div class="fry-shape">
        <img src="~/Users/assets/img/shape/fry-shape.png" alt="shape-img">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5 wow fadeInUp" data-wow-delay=".3s">
                <div class="single-offer-items bg-cover" style="background-image: url('users/assets/img/banner/offer-bg.png');">
                    <div class="offer-content">
                        <h5>crispy, every bite taste</h5>
                        <h3>
                            SUPER <br>
                            DELICIOUS
                        </h3>
                    </div>
                    <div class="offer-image">
                        <img src="~/Users/assets/img/offer/50percent-off.png" alt="offer-img">
                    </div>
                    <div class="burger-text">
                        <img src="~/Users/assets/img/shape/burger-text.png" alt="shape-img">
                    </div>
                    <div class="main-food">
                        <img src="~/Users/assets/img/food/main-food.png" alt="food-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-7 mt-5 mt-xl-0 wow fadeInUp" data-wow-delay=".5s">
                <div class="pizza-banner-items bg-cover" style="background-image: url(users/assets/img/banner/pizza-bg.png);">
                    <div class="pizza-text">
                        <img src="~/Users/assets/img/shape/pizza-text.png" alt="shape-img">
                    </div>
                    <div class="pizza-text-2">
                        <img src="~/Users/assets/img/shape/pizza-text-2.png" alt="shape-img">
                    </div>
                    <div class="pizza-image">
                        <img src="~/Users/assets/img/food/pizza-2.png" alt="pizza-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>