<!-- Brand Section Start -->
<section class="brand-shape section-padding fix section-bg pt-0">
    <div class="container">
        <div class="brand-wrapper">
            <div class="brand-title">
                <h4>
                    Global <span>5K+</span> Happy Sponsors With us
                </h4>
            </div>
            <div class="swiper brand-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand-image">
                            <img src="~/Users/assets/img/brand/01.svg" alt="brand-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-image">
                            <img src="~/Users/assets/img/brand/02.svg" alt="brand-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-image">
                            <img src="~/Users/assets/img/brand/03.svg" alt="brand-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-image">
                            <img src="~/Users/assets/img/brand/04.svg" alt="brand-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-image">
                            <img src="~/Users/assets/img/brand/05.svg" alt="brand-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-image">
                            <img src="~/Users/assets/img/brand/06.svg" alt="brand-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>