<!-- Food Catagory Section Start -->
<section class="food-category-section fix section-padding section-bg">
    <div class="tomato-shape">
        <img src="~/Users/assets/img/shape/tomato-shape.png" alt="shape-img">
    </div>
    <div class="burger-shape-2">
        <img src="~/Users/assets/img/shape/burger-shape-2.png" alt="shape-img">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-9">
                <div class="section-title">
                    <span class="wow fadeInUp">crispy, every bite taste</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">Popular Food Items</h2>
                </div>
            </div>
            <div class="col-md-5 ps-0 col-3 text-end wow fadeInUp" data-wow-delay=".5s">
                <div class="array-button">
                    <button class="array-prev"><i class="far fa-long-arrow-left"></i></button>
                    <button class="array-next"><i class="far fa-long-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="swiper food-catagory-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="catagory-product-card bg-cover" style="background-image: url('users/assets/img/shape/catagory-card-shape.jpg');">
                        <h5>1 products</h5>
                        <div class="catagory-product-image text-center">
                            <a href="shop.html">
                                <img src="~/Users/assets/img/food/pizza.png" alt="product-img">
                                <div class="decor-leaf">
                                    <img src="~/Users/assets/img/shape/decor-leaf.svg" alt="shape-img">
                                </div>
                                <div class="decor-leaf-2">
                                    <img src="~/Users/assets/img/shape/decor-leaf-2.svg" alt="shape-img">
                                </div>
                                <div class="burger-shape">
                                    <img src="~/Users/assets/img/shape/burger-shape.png" alt="shape-img">
                                </div>
                            </a>
                        </div>
                        <div class="catagory-product-content text-center">
                            <div class="catagory-product-icon">
                                <img src="~/Users/assets/img/shape/food-shape.svg" alt="shape-text">
                            </div>
                            <h3>
                                <a href="shop-single.html">
                                    pro pizza
                                </a>
                            </h3>
                            <p>1 products</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catagory-product-card bg-cover" style="background-image: url('users/assets/img/shape/catagory-card-shape.jpg');">
                        <h5>2 products</h5>
                        <div class="catagory-product-image text-center">
                            <a href="shop.html">
                                <img src="~/Users/assets/img/food/pizza.png" alt="product-img">
                                <div class="decor-leaf">
                                    <img src="~/Users/assets/img/shape/decor-leaf.svg" alt="shape-img">
                                </div>
                                <div class="decor-leaf-2">
                                    <img src="~/Users/assets/img/shape/decor-leaf-2.svg" alt="shape-img">
                                </div>
                                <div class="burger-shape">
                                    <img src="~/Users/assets/img/shape/burger-shape.png" alt="shape-img">
                                </div>
                            </a>
                        </div>
                        <div class="catagory-product-content text-center">
                            <div class="catagory-product-icon">
                                <img src="~/Users/assets/img/shape/food-shape.svg" alt="shape-text">
                            </div>
                            <h3>
                                <a href="shop-single.html">
                                    pro pizza
                                </a>
                            </h3>
                            <p>2 products</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catagory-product-card bg-cover" style="background-image: url('users/assets/img/shape/catagory-card-shape.jpg');">
                        <h5>3 products</h5>
                        <div class="catagory-product-image text-center">
                            <a href="shop.html">
                                <img src="~/Users/assets/img/food/pizza.png" alt="product-img">
                                <div class="decor-leaf">
                                    <img src="~/Users/assets/img/shape/decor-leaf.svg" alt="shape-img">
                                </div>
                                <div class="decor-leaf-2">
                                    <img src="~/Users/assets/img/shape/decor-leaf-2.svg" alt="shape-img">
                                </div>
                                <div class="burger-shape">
                                    <img src="~/Users/assets/img/shape/burger-shape.png" alt="shape-img">
                                </div>
                            </a>
                        </div>
                        <div class="catagory-product-content text-center">
                            <div class="catagory-product-icon">
                                <img src="~/Users/assets/img/shape/food-shape.svg" alt="shape-text">
                            </div>
                            <h3>
                                <a href="shop-single.html">
                                    pro pizza
                                </a>
                            </h3>
                            <p>3 products</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catagory-product-card bg-cover" style="background-image: url('users/assets/img/shape/catagory-card-shape.jpg');">
                        <h5>4 products</h5>
                        <div class="catagory-product-image text-center">
                            <a href="shop.html">
                                <img src="~/Users/assets/img/food/pizza.png" alt="product-img">
                                <div class="decor-leaf">
                                    <img src="~/Users/assets/img/shape/decor-leaf.svg" alt="shape-img">
                                </div>
                                <div class="decor-leaf-2">
                                    <img src="~/Users/assets/img/shape/decor-leaf-2.svg" alt="shape-img">
                                </div>
                                <div class="burger-shape">
                                    <img src="~/Users/assets/img/shape/burger-shape.png" alt="shape-img">
                                </div>
                            </a>
                        </div>
                        <div class="catagory-product-content text-center">
                            <div class="catagory-product-icon">
                                <img src="~/Users/assets/img/shape/food-shape.svg" alt="shape-text">
                            </div>
                            <h3>
                                <a href="shop-single.html">
                                    pro pizza
                                </a>
                            </h3>
                            <p>4 products</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>