<!-- Choose Us Section Start -->
<section class="choose-us fix section-padding pt-0 section-bg">
    <div class="container">
        <div class="food-icon-wrapper bg-cover" style="background-image: url('users/assets/img/shape/food-shape-2.png');">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-food-icon">
                        <div class="icon">
                            <i class="flaticon-quality"></i>
                        </div>
                        <div class="content">
                            <h4>super quality food</h4>
                            <p>
                                A team of dreamers and doers building
                                unique interactive music and art
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-food-icon">
                        <div class="icon">
                            <i class="flaticon-cooking"></i>
                        </div>
                        <div class="content">
                            <h4>original recipes</h4>
                            <p>
                                A team of dreamers and doers building
                                unique interactive music and art
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                    <div class="single-food-icon">
                        <div class="icon">
                            <i class="flaticon-fast-delivery"></i>
                        </div>
                        <div class="content">
                            <h4>quick fast delivery</h4>
                            <p>
                                A team of dreamers and doers building
                                unique interactive music and art
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                    <div class="single-food-icon">
                        <div class="icon">
                            <i class="flaticon-quality"></i>
                        </div>
                        <div class="content">
                            <h4>100% fresh foods</h4>
                            <p>
                                A team of dreamers and doers building
                                unique interactive music and art
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>