<!-- Food Banner Section Start -->
<section class="food-banner-section fix section-padding section-bg pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 wow fadeInUp" data-wow-delay=".3s">
                <div class="burger-banner-items bg-cover" style="background-image: url(users/assets/img/banner/burger-bg.png);">
                    <div class="burger-content text-center">
                        <h3>today</h3>
                        <h2>special</h2>
                        <h4><a href="shop.html" class="text-white">beef <span>burger</span></a></h4>
                        <a href="shop-single.html" class="theme-btn mt-4">
                            <span class="button-content-wrapper d-flex align-items-center">
                                <span class="button-icon"><i class="flaticon-delivery"></i></span>
                                <span class="button-text">order now</span>
                            </span>
                        </a>
                    </div>
                    <div class="burger-image">
                        <img src="~/Users/assets/img/food/big-burger.png" alt="food-img">
                    </div>
                    <div class="text-shape">
                        <img src="~/Users/assets/img/shape/pizza-text-2.png" alt="shape-img">
                    </div>
                    <div class="burger-text">
                        <img src="~/Users/assets/img/shape/burger-text.png" alt="shape-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-9 mt-5 mt-xl-0 wow fadeInUp" data-wow-delay=".5s">
                <div class="single-offer-items style-2 bg-cover" style="background-image: url('users/assets/img/banner/pepsi-bg.png');">
                    <div class="offer-content">
                        <h5>crispy, every bite taste</h5>
                        <h3>
                            FASH FOOD <br>
                            MEAL
                        </h3>
                        <p>
                            The mouth-watering aroma of <br>
                            sizzling burgers
                        </p>
                        <a href="shop-single.html" class="theme-btn mt-4">
                            <span class="button-content-wrapper d-flex align-items-center">
                                <span class="button-icon"><i class="flaticon-delivery"></i></span>
                                <span class="button-text">order now</span>
                            </span>
                        </a>
                    </div>
                    <div class="offer-img">
                        <img src="~/Users/assets/img/offer/50percent-off-3.png" alt="shape-img">
                    </div>
                    <div class="roller-box">
                        <img src="~/Users/assets/img/food/roller-box.png" alt="food-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>