@using System.Security.Claims
@using Microsoft.IdentityModel.JsonWebTokens

@{
    var userName = string.Empty;
    var userId = string.Empty;
    var userRole = string.Empty;

    if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as ClaimsIdentity;
        if (claimsIdentity != null)
        {
            // Extract the username from claims
            var userNameClaim = claimsIdentity.FindFirst(ClaimTypes.Name);
            if (userNameClaim != null)
            {
                userName = userNameClaim.Value;
            }

            // Extract the user ID from claims
            var userIdClaim = claimsIdentity.FindFirst("UserId") ?? claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
            if (userIdClaim != null)
            {
                userId = userIdClaim.Value;
            }

            // Extract the user role from claims
            var userRoleClaim = claimsIdentity.FindFirst(ClaimTypes.Role);
            if (userRoleClaim != null)
            {
                userRole = userRoleClaim.Value;
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="modinatheme">
    <meta name="description" content="GASHUB - Fast Food Restaurant Html">
    <title>@ViewData["Title"] - GasHub</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GasHub.styles.css" asp-append-version="true" /> *@

    <!-- ======== Page title ============ -->

    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="~/project/logo.png"  asp-append-version="true">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/bootstrap.min.css" asp-append-version="true">
    <!--<< Font Awesome.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/font-awesome.css"  asp-append-version="true">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/animate.css"  asp-append-version="true">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/magnific-popup.css" asp-append-version="true">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/meanmenu.css" asp-append-version="true">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/swiper-bundle.min.css" asp-append-version="true">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/nice-select.css" asp-append-version="true">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="~/Users/assets/css/main.css" asp-append-version="true">
    <!--<< Style.css >>-->
     @* <link rel="stylesheet" href="style.css">  *@
   
</head>
<body>
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
            <div class="txt-loading">
                <span data-text-preloader="G" class="letters-loading">
                    G
                </span>
                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>
                <span data-text-preloader="S" class="letters-loading">
                    S
                </span>
                <span data-text-preloader="H" class="letters-loading">
                    H
                </span>
                <span data-text-preloader="U" class="letters-loading">
                    U
                </span>
                <span data-text-preloader="B" class="letters-loading">
                    B
                </span>
               
            </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Offcanvas Area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a asp-action="index" asp-controller="Home">
                                <img src="/project/logo.png" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-lg-block">
                        This involves interactions between a business and its customers. It's about meeting customers' needs and resolving their problems. Effective customer service is crucial.
                    </p>
                    <div class="offcanvas-gallery-area d-none d-lg-block">
                        <div class="offcanvas-gallery-items">
                            <a href="assets/img/header/01.jpg" class="offcanvas-image img-popup">
                                <img src="~/Users/assets/img/header/01.jpg" alt="gallery-img">
                            </a>
                            <a href="assets/img/header/02.jpg" class="offcanvas-image img-popup">
                                <img src="~/Users/assets/img/header/02.jpg" alt="gallery-img">
                            </a>
                            <a href="assets/img/header/03.jpg" class="offcanvas-image img-popup">
                                <img src="~/Users/assets/img/header/03.jpg" alt="gallery-img">
                            </a>
                        </div>
                        
                    </div>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+013-003-003-9993"><span class="mailto:info@enofik.com">info@GASHUB.com</span></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-between header-button mt-4">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-action="LogOut" asp-controller="Public" class="theme-btn me-1">
                                        <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                            <span class="button-icon"><i class="fas fa-sign-in-alt"></i></span>
                                            <span class="button-text">LogOut</span>
                                        </span>
                                    </a>
                                    <a asp-action="Register" asp-controller="Public" class="theme-btn ms-1">
                                        <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                            <span class="button-icon"></span>
                                            <span class="button-text">@User.Identity.Name</span>
                                        </span>
                                    </a>
                                }
                                else 
                                {
                                    <a asp-action="Login" asp-controller="Public" class="theme-btn me-1">
                                        <span id="LogOutBtn" class="button-content-wrapper d-flex align-items-center justify-content-center">
                                            <span class="button-icon"><i class="fas fa-sign-in-alt"></i></span>
                                            <span class="button-text">Login</span>
                                        </span>
                                    </a>
                                    <a asp-action="Register" asp-controller="Public" class="theme-btn ms-1">
                                        <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                            <span class="button-icon"><i class="fas fa-user-plus"></i></span>
                                            <span class="button-text">Registration</span>
                                        </span>
                                    </a>
                                }
                            }
                           
                           
                        </div>

                        <div class="header-button mt-1">
                            @if (userRole == "Admin" || userRole == "Administrator")
                            {
                                <a asp-action="Index" asp-controller="Default" class="theme-btn">
                                    <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                        <span class="button-icon"><i class="flaticon-delivery"></i></span>
                                        <span class="button-text">Dashboard</span>
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a  class="theme-btn">
                                    <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                        <span class="button-icon"><i class="flaticon-delivery"></i></span>
                                        <span class="button-text">Order Now</span>
                                    </span>
                                </a>
                            }
                        </div>

                       
                        <div class="social-icon d-flex align-items-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <!-- Header Area Start -->
    <header class="section-bg">
       
        <div id="header-sticky" class="header-1">
            <div class="container">
                <div class="mega-menu-wrapper">
                    
                    <div class="header-main">
                        <div class="logo">
                            <a asp-action="index" asp-controller="Home" class="header-logo">
                                <img src="~/project/logo.png" alt="logo-img">
                            </a>
                        </div>
                        <div class="header-left">
                            <div class="mean__menu-wrapper d-none d-lg-block">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            @* <li class="has-dropdown active">
                                                <a href="index.html">
                                                    Home Page
                                                    <i class="fas fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu has-homemenu">
                                                    <li class="border-none">
                                                        <div class="row g-4">
                                                            <div class="col-lg-4 homemenu">
                                                                <div class="homemenu-thumb">
                                                                    <img src="~/Users/assets/img/header/home-1.jpg" alt="img">
                                                                    <div class="demo-button">
                                                                        <a href="index.html" class="theme-btn">View Demo</a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        <a href="index.html">Home 01</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4  homemenu">
                                                                <div class="homemenu-thumb mb-15">
                                                                    <img src="~/Users/assets/img/header/home-2.jpg" alt="img">
                                                                    <div class="demo-button">
                                                                        <a href="index-2.html" class="theme-btn">View Demo</a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        <a href="index-2.html">Home 02</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 homemenu">
                                                                <div class="homemenu-thumb mb-15">
                                                                    <img src="~/Users/assets/img/header/home-3.jpg" alt="img">
                                                                    <div class="demo-button">
                                                                        <a href="index-3.html" class="theme-btn">View Demo</a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        <a href="index-3.html">Home 03</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 homemenu">
                                                                <div class="homemenu-thumb">
                                                                    <img src="~/Users/assets/img/header/home-4.jpg" alt="img">
                                                                    <div class="demo-button">
                                                                        <a href="index-4.html" class="theme-btn">View Demo</a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        <a href="index-4.html">Home 04</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4  homemenu">
                                                                <div class="homemenu-thumb mb-15">
                                                                    <img src="~/Users/assets/img/header/home-5.jpg" alt="img">
                                                                    <div class="demo-button">
                                                                        <a href="index-5.html" class="theme-btn">View Demo</a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        <a href="index-5.html">Home 05</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 homemenu">
                                                                <div class="homemenu-thumb mb-15">
                                                                    <img src="~/Users/assets/img/header/home-6.jpg" alt="img">
                                                                    <div class="demo-button">
                                                                        <a href="index-6.html" class="theme-btn">View Demo</a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        <a href="index-6.html">Home 06</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul> *@
                                            @* </li> *@
                                            <li>
                                                <a asp-action="Index" asp-controller="Home">Home</a>
                                            </li>
                                            <li>
                                                <a asp-action="Product" asp-controller="Home">Product</a>
                                            </li>
                                           
                                            
                                            

                                        </ul>
                                    </nav>
                                    <!-- for wp -->
                                </div>
                            </div>
                        </div>
                        <div class="header-right d-flex justify-content-end align-items-center">




















                            <div class="menu-cart">
                                <div class="cart-box">
                                    <ul id="cart-items">
                                        @*  <li class="border-none">
                                            <img src="~/Users/assets/img/shop-food/s3.png" alt="image">
                                            <div class="cart-product">
                                                <a href="#0">grilled chiken</a>
                                                <span>168$</span>
                                            </div>
                                        </li>  *@
                                    </ul>

                                    <div class="shopping-items d-flex align-items-center justify-content-between">
                                        <span id="shopping-total">Shopping: Tk:0.00</span>
                                        <span id="total-price">Total: Tk:0.00</span>
                                    </div>
                                    <div class="cart-button d-flex justify-content-between mb-4">
                                        <a asp-action="CheckOut" asp-controller="Home" class="theme-btn">
                                            View Cart
                                        </a>

                                        
                                        <a asp-action="CheckOut" asp-controller="Home" class="theme-btn bg-red-2">
                                            Checkout
                                        </a>
                                    </div>
                                </div>
                                <a  class="cart-icon">
                                    <i class="far fa-shopping-basket"></i>
                                </a>
                            </div>


                          
                           














                            <div class="header-button">
                                <a  class="theme-btn bg-red-2">contact us</a>
                            </div>
                            <div class="header__hamburger d-xl-block my-auto">
                                <div class="sidebar__toggle">
                                    <div class="header-bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>






    <div >
        @RenderBody()
    </div>

    <!-- Footer Section Start -->
    <footer class="footer-section fix section-bg">
        <div class="burger-shape">
            @* <img src="~/Users/assets/img/shape/burger-shape-3.png" alt="burger-shape"> *@
        </div>
        <div class="fry-shape">
            @* <img src="~/Users/assets/img/shape/fry-shape-2.png" alt="burger-shape"> *@
        </div>
        <div class="container">
            <div class="footer-widgets-wrapper">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-md-6 col-lg-3 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a asp-action="index" asp-controller="Home">
                                    <img src="/project/logo.png" alt="logo-img">
                                </a>
                            </div>
                            <div class="footer-content">
                                <p>
                                    We believe it has the power to do <br>
                                    amazing things.
                                </p>
                                <span>Interested in working with us?</span> <br>
                                <a href="mailto:info@example.com" class="link">info@example.com</a>
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   @*  <div class="col-xl-2 ps-lg-5 col-sm-6 col-md-3 col-lg-3 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h4>Quick Links</h4>
                            </div>
                            <ul class="list-items">
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">Services</span>
                                            <span class="effect-1">Services</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">About company</span>
                                            <span class="effect-1">About company</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">latest news</span>
                                            <span class="effect-1">latest news</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">team member</span>
                                            <span class="effect-1">team member</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">testimonials</span>
                                            <span class="effect-1">testimonials</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> *@
                    <div class="col-xl-3 ps-lg-4 col-sm-6 col-md-3 col-lg-3 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h4>My account</h4>
                            </div>
                            <ul class="list-items">
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">My Profile</span>
                                            <span class="effect-1">My Profile</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">My Order History</span>
                                            <span class="effect-1">My Order History</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">My Wish List</span>
                                            <span class="effect-1">My Wish List</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">Order Tracking</span>
                                            <span class="effect-1">Order Tracking</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <span class="text-effect">
                                            <span class="effect-1">Shopping Cart</span>
                                            <span class="effect-1">Shopping Cart</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-md-6 col-lg-3 wow fadeInUp" data-wow-delay=".8s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h4>Address:</h4>
                            </div>
                            <div class="footer-address-text">
                                <h6>
                                    570 8th Ave, New York,NY <span>10018</span>
                                    United States
                                </h6>
                                <h5>Hours:</h5>
                                <h6>
                                    9.30am – 6.30pm <br>
                                    Monday to Friday
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 ps-xl-5 col-sm-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay=".9s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h4>Install app</h4>
                            </div>
                            <div class="footer-apps-items">
                                <h5>From App Store or Google Play</h5>
                                <div class="apps-image d-flex align-items-center">
                                    <a href="#"><img src="~/Users/assets/img/app-store.png" alt="store-img"></a>
                                    <a href="#"><img src="~/Users/assets/img/google-play.png" alt="store-img"></a>
                                </div>
                                <div class="support-text">
                                    <h5>24/7 Support center</h5>
                                    <h3><a href="tel:+1718-904-4450">+1718-904-4450</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wrapper d-flex align-items-center justify-content-between">
                    <p class="wow fadeInLeft" data-wow-delay=".3s">
                        © Copyright <span class="theme-color-3">2024</span> <a >GASHUB </a>. All Rights Reserved.
                    </p>
                    <div class="card-image wow fadeInRight" data-wow-delay=".5s">
                        <img src="~/Users/assets/img/card.png" alt="card-img">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Back To Top Start -->
    <div class="scroll-up">
        <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- Back To Top Start -->
    @* <div class="scroll-up">
        <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div> *@


    <!--<< All JS Plugins >>-->
    <script src="~/Users/assets/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <!--<< Viewport Js >>-->
    <script src="~/Users/assets/js/viewport.jquery.js" asp-append-version="true"></script>
    <!--<< Bootstrap Js >>-->
    <script src="~/Users/assets/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <!--<< Nice Select Js >>-->
    <script src="~/Users/assets/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <!--<< Waypoints Js >>-->
    <script src="~/Users/assets/js/jquery.waypoints.js" asp-append-version="true"></script>
    <!--<< Counterup Js >>-->
    <script src="~/Users/assets/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="~/Users/assets/js/swiper-bundle.min.js" asp-append-version="true"></script>
    <!--<< MeanMenu Js >>-->
    <script src="~/Users/assets/js/jquery.meanmenu.min.js" asp-append-version="true"></script>
    <!--<< CountDown Js >>-->

    <script src="~/Users/assets/js/countdowncustom.js" asp-append-version="true"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="~/Users/assets/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <!--<< GSAP Animation Js >>-->
    <script src="~/Users/assets/js/animation.js" asp-append-version="true"></script>
    <!--<< Wow Animation Js >>-->
    <script src="~/Users/assets/js/wow.min.js" asp-append-version="true"></script>
    <!--<< Main.js >>-->
    <script src="~/Users/assets/js/main.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" asp-append-version="true"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.6/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
 @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/inventory/product/layoutproduct.js" asp-append-version="true"></script>
</body>
</html>
