<!-- Marque Section Start -->
<div class="marque-section fix section-padding pt-0 section-bg">
    <div class="marquee-wrapper text-slider">
        <div class="marquee-inner to-left">
            <ul class="marqee-list d-flex">
                <li class="marquee-item">
                    <span class="text-slider text-color">populer</span><span class="text-slider"></span> <span class="text-slider text-color">dishes</span>
                    <span class="text-slider"><img src="~/Users/assets/img/icon/burger.png" alt="icon-img"></span> <span class="text-slider"></span> <span class="text-slider text-color-2">delicious</span>
                    <span class="text-slider text-color-2">food</span> <img src="~/Users/assets/img/icon/pizza.png" alt="icon-img"> <span class="text-slider"></span> <span class="text-slider text-color">populer</span>
                    <span class="text-slider text-color">dishes</span> <span class="text-slider"></span><span class="text-slider"><img src="~/Users/assets/img/icon/burger.png" alt="icon-img"></span> <span class="text-slider"></span> <span class="text-slider text-color-2">delicious</span>
                    <span class="text-slider text-color">populer</span><span class="text-slider"></span> <span class="text-slider text-color">dishes</span>
                    <span class="text-slider"><img src="~/Users/assets/img/icon/burger.png" alt="icon-img"></span> <span class="text-slider"></span> <span class="text-slider text-color-2">delicious</span>
                    <span class="text-slider text-color-2">food</span> <img src="~/Users/assets/img/icon/pizza.png" alt="icon-img"> <span class="text-slider"></span> <span class="text-slider text-color">populer</span>
                    <span class="text-slider text-color">dishes</span> <span class="text-slider"></span><span class="text-slider"><img src="~/Users/assets/img/icon/burger.png" alt="icon-img"></span> <span class="text-slider"></span> <span class="text-slider text-color-2">delicious</span>
                </li>
            </ul>
        </div>
    </div>
</div>