@model GasHub.Models.Retailer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold fs-1 color-primary">Retailer List</h3>
                    </div>
                    <div id="successMessage" class="alert alert-success" role="alert" style="display: none;">
                        <strong>Holy guacamole!</strong>   Your company was successfully saved.
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>

                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="CompanyTable" class="table table-bordered table-striped">
                            <p> <a id="btn-Create" class="btn btn-success"> <i class="fa fa-plus"></i> Create New Retailer</a> </p>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Contact Person</th>
                                    <th>Contact Person Num</th>
                                    <th>Contact Number</th>
                                    <th>Active</th>
                                    <th>BIN</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>



<div class="modal  fade " id="modelCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddEmployee" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content w-auto">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelAddEmployee">Add Retailer</h4>
                <h4 class="modal-title" style="display:none;" id="myModalLabelUpdateEmployee">Update Retailer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="CompanyForm">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" placeholder="Enter Retailer Name " class="form-control" name="Name" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Contactperson" class="control-label"></label>
                                            <input asp-for="Contactperson" placeholder="Enter Contact Person" class="form-control" name="Contactperson" />
                                            <span asp-validation-for="Contactperson" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ContactNumber" class="control-label"></label>
                                            <input asp-for="ContactNumber" placeholder="Enter Phone(Office)" class="form-control" name="ContactNumber" />
                                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label asp-for="ContactPerNum" class="control-label"></label>
                                            <input asp-for="ContactPerNum" placeholder="Enter Phone(Personal))" class="form-control" name="ContactPerNum" />
                                            <span asp-validation-for="ContactPerNum" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BIN" class="control-label"></label>
                                            <input asp-for="BIN" placeholder=" Enter Business Identification Number" class="form-control" name="BIN" />
                                            <span asp-validation-for="BIN" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* <div class="col-md-6">
                            <div class="row">
                            <div class="col-md-6">


                            </div>
                            <div class="col-md-6">

                            </div>
                            </div>
                            </div> *@
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>









<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteAndDetailsModel" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure you want to delete the following Retailer ?
            </div>

            <div class="modal-body" id="companyDetails">
                <!-- Company details will be populated dynamically by jQuery -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="module" src="~/js/inventory/retailer/gashubretailer.js" asp-append-version="true"></script>
}
